.main-form-div{
    height: 100vh;
    background-image: url("https://thumbs.gfycat.com/UglyDisloyalIndri-size_restricted.gif");
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat    ;
    /* background-size: cover; */

}

.main-form-div .register-form-div{
    outline:  4px solid rgb(34, 119, 231);
    background-color: rgba(0,0,0,0.8);
    color: white;
}
.main-form-div div form input{
    /* border: 1px solid white; */
    background-color: transparent;
    /* color: white; */
    outline: none;
    box-shadow: 0px 1px 0px whitesmoke;
    margin-bottom: 5px;
}
.main-form-div div form input:focus{
    /* border: none; */
    
}
