.conterol-div{
    border: 1px solid  rgba(250,113,1,0.5);
    display: flex;
    flex-direction: column;
    justify-items: center;

}
.pagination{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1.5rem;
    font-size: 1.2rem;
    gap: 15px;
}


.page-num{
    width: 30px;
    height: 32px;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    transition: all 0.5s;
}


.page-num:hover{
    background-color: aqua;
    color: white;
    transition: all 0.5s;
}


.activeLink{
   background-color: aqua;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    transition: all 0.5s;
}

.active-pagination{
    background-color: aqua;
}
