.image-icon-div {
    height: 270px;
    width: 100%;    
    overflow: hidden;
}
.image-icon-div .imgDiv{
    height: 100%;
    width: 100%;
}
.image-icon-div .imgDiv .img{
    height: 100%;
    width: 100%;
    transition: all 1.5s;
    z-index: -99;

}
.image-icon-div .icon-div{
    height: 50px;
    background-color: aqua;
    transition: all 0.5s;
}

.image-icon-div:hover .imgDiv img{
    transform: scale(1.2);
    transition: all 1s;
}
.image-icon-div:hover .icon-div{
    margin-top: -50px;
    background-color: aqua;
}
.image-icon-div:hover .icon-div .span{
    margin-top: -50px;
    background-color: aqua;
    transition: all 0.5s;
}
.image-icon-div .icon-div .span span{
    background-color: rgba(0,0,0,0.9);
    z-index: 999;
   width: 32px;
   height: 32px;
   border-radius: 50%;
  
}
.style {
    background-color: white !important;
  }