@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

.bg-color {
    background-color: aqua;
}

.text-color {
    background-image: linear-gradient(to right,  rgb(173, 80, 3), rgba(248, 127, 29,1)); /* Gradient background */
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; 
  }

.nav-bg-color{
    background-color: rgb(235,125,35);
}
.local-text {
    color: rgb(3, 17, 143);
}

.nav-text {
    color: white;
    font-size: 17px;
    font-weight: 600;
    transition: all 0.5s;
}

@media (max-width : 767px) {
    .nav-text {
        font-size: 12px;
        font-weight: 700;
    }
}

.nav-text:hover {
    color: red;
}

.headline-bg-style{
    width: 60%;
    /* background: linear-gradient(to left, rgba(207, 98, 8,0.6), rgb(250, 113, 1)); */
    background: linear-gradient(to left,   rgb(250, 124, 21) , rgb(247, 157, 84), rgb(250, 124, 21)  );
    color: white;
    display: flex;
    align-items: center;
    height: 30px;
}
@media (max-width:768px) {
    .headline-bg-style{
        width: 70%;
    }    
}
@media (max-width:425px) {
    .headline-bg-style{
        height: 30px !important;
        border-radius: 5px;
    }    
}

.headline-bg-style-control-panel{
    width: 100%;
    background: linear-gradient(to left, rgba(207, 98, 8,0.6), rgb(250, 113, 1));
    color: white;
}

.main-headline-bg-style{
    background: linear-gradient(to left, rgb(235,125,35), rgba(207, 98, 8,1) , rgb(235,125,35));
    width: 40%;
    margin: 0 auto 50px;
    padding: 2px 0 6px 0;
    color: white;
    text-shadow: 1px 1px 2px rgb(3, 17, 143);
    font-style: oblique;
}
.controlPanel-headline-bg-style{
    /* background: linear-gradient(to left,  rgb(252, 148, 64), rgb(250, 124, 21) , rgb(247, 157, 84), rgb(250, 124, 21)  ); */

    background: linear-gradient(to left,   rgb(250, 124, 21) , rgb(247, 157, 84), rgb(250, 124, 21)  );
    color: white;
    padding-bottom: 5px;
    text-shadow: 1px 1px 2px rgb(3, 17, 143);
}

@media (max-width:768px) {
    .main-headline-bg-style{
        width: 80%;
    }
}
@media (max-width:425px) {
    .main-headline-bg-style{
        width: 100%;
    }    
}