@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

.bg-color {
    background-color: aqua;
}

.text-color {
    /* color: rgb(3, 122, 241); */
    color: rgb(207, 98, 8);
}
.nav-bg-color{
    /* background-color: rgb(50,140,250); */
    background-color: rgb(235,125,35);
}
.local-text {
    color: rgb(3, 17, 143);
    /* color: rgb(235,125,35); */
}

.nav-text {
    color: white;
    font-size: 17px;
    font-weight: 600;
    transition: all 0.5s;
}

@media (max-width : 767px) {
    .nav-text {
        font-size: 12px;
        font-weight: 700;
    }
}

.nav-text:hover {
    color: red;
}

.headline-bg-style{
    width: 50%;
    background: linear-gradient(to left, rgba(207, 98, 8,0.6), rgb(250, 113, 1));
    color: white;
}
.headline-bg-style-control-panel{
    width: 100%;
    background: linear-gradient(to left, rgba(207, 98, 8,0.6), rgb(250, 113, 1));
    color: white;
}

.main-headline-bg-style{
    /* background: linear-gradient(to left, rgba(207, 98, 8,0.6), rgb(250, 113, 1)); */
    background: linear-gradient(to left, rgba(207, 98, 8,0.6), rgb(250, 113, 1), rgba(207, 98, 8,0.6) );
    width: 40%;
    margin: 0 auto 50px;
    padding: 2px 0 6px 0;
    /* color: rgb(207, 98, 9); */
    color: white;
    /* border-radius: 5px; */
    text-shadow: 1px 1px 2px rgb(3, 17, 143);
    font-style: oblique;
    /* text-shadow: 1px 1px 1px gainsboro; */
}
.controlPanel-headline-bg-style{
    background: linear-gradient(to left, rgba(207, 98, 8,0.6), rgb(250, 113, 1), rgba(207, 98, 8,0.6) );
    color: white;
    padding-bottom: 5px;
    text-shadow: 1px 1px 2px rgb(3, 17, 143);
}
